body {
   background-color:#e5e5e5;
   color:#666;
   font:normal 13px Roboto,arial,sans-serif;
   padding:0px;
}

pre {
	   font:normal 13px Roboto,arial,sans-serif;
}

#top {
	text-align:center;
	padding:15px;
 	width:90%;
 	background:#FFF;
  border:1px solid #AAA;
  border-bottom:2px solid #BBB;
  margin:0px auto 25px auto;
  font-size:14;
  font-weight:bold;
}

#top-controls{
	text-align: right;
}

.storyCard {
	text-align:left;
	padding:6px;
	width:80%;
  background:#FFF;
  border:1px solid #AAA;
  border-bottom:2px solid #BBB;
  margin:15px auto;
}

.storyPreview, .storyBarTop {
	width:100%;
	cursor:pointer;
}

/* Blocks of text */
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.storyOptionNext {
	padding-left:10px;
	color:#aaa!important;
}

/* =================== */
/* x-editable override */
/* =================== */
.editable-buttons {
	margin:0px;
	padding:0px;
	display:block;
}

 button{
	margin:4px 5px 4px 0px;
	padding:0px;
	cursor:pointer;
	border:none;
	outline:none;
	background:none!important;
	color:#4080FF;
}

 button:hover {
	color:#80C0FF;
}

.editable-click, .editable-click:hover, a.editable-click, a.editable-click:hover {
	text-decoration:none;
	color:#666;
	border-bottom-color:none;
}

.editable-click,a.editable-click {
	text-decoration:none;
	color:#666;
	border-bottom:none;
}

/* Some shoddy css here just to get a wide tall textbox */
.editable-wrap , editable-textarea, .editable-wrap .editable-controls>textarea {
		width:100%;
}

.editable-wrap .editable-controls, .editable-wrap .editable-controls>textarea{
	height:200px;
}