/* Everything */
body
{
   background-color:#505050;
   color:white;
}

#wrapper
{ 
	width:100%;
	min-width:200px;
}

/* Page title */
#title
{
   display: inline-block;
   margin: 10px auto 10px auto;  
   cursor:hand;
   font-weight:bold;
   text-decoration:none;
   color:white;
}

/* left Panel */
#panel-left
{		
	height:600px;
	border-right:1px solid white;
	float:left;
}

#inventory-title
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display:block;
	margin-left:2px;
}

#inventory-toggle
{
	float:right;
	margin-right:-12px;	
	top:0px;
	background-color:white;
	height:12px;
	width:12px;
	cursor:hand;
}

.inventory-expanded
{
	width:250px;
}
.inventory-collapsed
{
	width:0px;
}

.inventory-expanded #inventory-contents, .inventory-expanded #inventory-title
{
	display:initial;
}

.inventory-collapsed #inventory-contents, .inventory-collapsed #inventory-title
{
	display:none;
}
#inventory-contents
{
	border-spacing: 2px;
    border-collapse: separate;
	margin-top:6px;
}

#inventory-contents td
{
	width:100px;
	height:100px;
	border:1px solid white;
}

#inventory-contents img
{
	width:100px;
	height:100px;
}

/* Right Panel */
#panel-right
{
	text-align:center;
	float: none; 
	overflow: hidden;
}

/* Story */
#story
{
	width:80%;
	margin: 10px auto 30px auto;
	padding:20px;
	border-width:1px;
	border-style:solid;
}

/* Modifier */
#modifier
{
	margin-bottom:30px;
	border:1px solid #000;
	background-color:#405060;
	width:auto;
}

/* Redirect timer */
#timer-redirect
{
	font-family:Courier New;
	text-align:left;
}

/* Options */
#options_extra
{
    float:right;
}

input.option, input.option:visited
{
	cursor:pointer;
	width:70%;
	border:1px solid 000;
	background-color:#222;
	color:white;
    font-weight:900;
	padding-top:10px;
	padding-bottom:10px;
}

input.option:hover
{
	background-color:#333;
}

input.option:active
{
	background-color:#444;
}
