<!doctype html>

<html ng-app="dashboard">
<head>
	<title>Admin Dashboard</title>

	<link href="lib/angular-xeditable-0.1.8/css/xeditable.css" rel="stylesheet"> <!-- x-editable styles -->
 	<link rel="stylesheet" type="text/css" href="./css/dashboard.css" /> <!-- page styles -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script><!-- load angular -->
	<script src="lib/angular-xeditable-0.1.8/js/xeditable.js"></script> <!-- x-editable component -->
	<script src="js/controllers/dashboardController.js"></script> <!-- dashboard controller -->
	<script src="js/services/storyService.js"></script> <!-- story service -->
	<script src="js/core.js"></script> <!-- main application -->

</head>

<body ng-controller="dashboardController">
	<div class="wrapper">

		<div id="top">
			<div id="title">Admin dashboard</div>
			<div id="top-controls">
				<button ng-click="expandAll(true)">expand all</button>
				<button ng-click="expandAll(false)">collapse all</button>
			</div>
		</div>

		<div id="stories">
			<div class ="storyCard" ng-repeat="story in stories">

				<!-- ============== -->	
				<!-- COLLAPSED CARD -->				
				<!-- ============== -->	
				<div class="storyPreview" ng-show="!story.isExpanded" ng-click="story.isExpanded=true"> {{getPreviewById(story._id) || 'empty'}} </div>

				<!-- ============= -->	
				<!-- EXPANDED CARD -->		
				<!-- ============= -->	
				<div class="storyContent" ng-show="story.isExpanded">	
					<div class="storyBarTop" ng-click="story.isExpanded=false">
						<!-- Delete Story -->
						<button class="buttonDeleteStory" ng-click="deleteStory(story)" title="Delete Story"> x </button>
					</div>

					<!-- Story Text -->
					<div class="storyText" editable-textarea="story.text" onaftersave="updateStory(story)"> 
						<pre>{{story.number}}. {{story.text || 'empty'}}</pre>
					</div>

					<hr/>
			
					<!-- Story Options -->
					<table class = "storyOptions">
						<tr ng-repeat="option in story.opts"> 
							<td>
								<button ng-click="deleteOption(story, option)" title="Delete Option"> x </button>
							<td> 
								<div class="storyOption" editable-text="option.text" onaftersave="updateStory(story)"> {{option.text || 'empty'}} </div>
							</td> 
							<td>
								<div class="storyOptionNext" buttons="no" editable-select="option.next"
									e-ng-options="s._id as s.preview for s in stories" onaftersave="updateStory(story)"> 
									{{getPreviewById(option.next) || 'empty'}} 
								</div>	
							</td>
						</tr>
					</table>

					<!-- New option controls -->	 
					<button ng-click="createOption(story)"> New Option </button>
				</div>

			</div>
			<!-- New story -->	
			<div class ="storyCard">	<button ng-click="createStory()"> New Story </button> </div>

		</div>

	</div>
</body>
</html>
