<!doctype html>

<html ng-app="dashboard">
<head>
	<title>Admin Dashboard</title>

  <!-- Styles -->
	<link href="lib/angular-xeditable-0.1.8/css/xeditable.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
 	<link rel="stylesheet" type="text/css" href="./css/dashboard.css" />

  <!-- Libs: jquery, angular, bootstrap and x-editable -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.min.js"></script>
	<script src="lib/angular-xeditable-0.1.8/js/xeditable.js"></script>

  <!-- App: controler and services -->
	<script src="js/dashboardApp.js"></script>
	<script src="js/dashboardController.js"></script>
	<script src="../services/dataAccess.js"></script>
	<script src="../services/storyUtils.js"></script>

</head>

<body ng-controller="dashboardController">
	<div class="container">
		
		<div id="top">
			<div id="title">Admin dashboard</div>
		</div>

		<div id="error" ng-show="errorMessage">{{errorMessage}}</div>

		<div id="stories">
			<div class ="storyCard" ng-repeat="card in filteredCards">

				<!-- ============== -->	
				<!-- COLLAPSED CARD -->				
				<!-- ============== -->	
				<div class="storyPreview" ng-show="!card.isExpanded" ng-click="card.isExpanded=true"> 
					{{card.story.preview}} 
				</div>

				<!-- ============= -->	
				<!-- EXPANDED CARD -->		
				<!-- ============= -->	
				<div class="storyContent" ng-show="card.isExpanded">	
					<div class="storyBarTop" ng-click="card.isExpanded=false">
						<button class="buttonDeleteStory" ng-click="deleteStory(card.story)" title="Delete Story"> x </button>
					</div>

					<!-- ========== -->	
					<!-- Story Text -->
					<!-- ========== -->	
					<div class="storyText" editable-textarea="card.story.text" onaftersave="updateStory(card.story)"> 
						<pre>{{card.story.number}}. {{card.story.text || 'Story text'}}</pre>
					</div>

					<!-- --> <hr/> <!-- -->
					
					<!-- ============= -->	
					<!-- Story Options -->
					<!-- ============= -->	
					<table class = "storyOptions">
						<tr ng-repeat="option in card.story.opts"> 
							<td>
								<button ng-click="deleteOption(card.story, option)" title="Delete Option"> x </button>
							<td> 
								<div class="storyOption" editable-text="option.text" onaftersave="updateStory(card.story)"> 
									{{option.text || 'Option text'}} 
								</div>
							</td> 
							<td>
								<div class="storyOptionNext" buttons="no" editable-select="option.next"
									e-ng-options="c.story._id as c.story.preview for c in cards" onaftersave="updateStory(card.story)"> 
									{{getStoryPreviewById(option.next) || 'Select outcome'}} 
								</div>	
							</td>
						</tr>
					</table>

					<button ng-click="createOption(card.story)"> New Option </button>

					<!-- --> <hr/> <!-- -->	

					<!-- ======== -->	
					<!-- Modifier -->
					<!-- ======== -->	

					<input class="storyModifier" type="checkbox" ng-model="card.story.modifier" ng-change="updateStory(card.story)">Modifier</input>

					<div ng-show="card.story.modifier"> 
						<div class="modifierText" editable-text="card.story.modifier_text" onaftersave="updateStory(card.story)"> 
							{{card.story.modifier_text || 'Modifier text'}} 
						</div>
						<div class="modifierDesc" editable-textarea="card.story.modifier_desc" onaftersave="updateStory(card.story)"> 
							<pre>{{card.story.modifier_desc || 'Modifier description'}}</pre>
						</div>					
				  	<table> <tr><td>
				  		<div>Modifier image: </div>	
				  	</td><td>
				  		<div buttons="no" editable-select="card.story.modifier_img"
				  			e-ng-options="img as img for img in modifierImages" onaftersave="updateStory(card.story)"> 
			  				{{card.story.modifier_img || '-- none --'}} 
		  				</div> </td></tr>
	  					<tr><td>
	  						<img class="imgModifier" ng-show="card.story.modifier_img!=''" ng-src="{{card.story.modifier_img_fullpath}}"/>
	  					</td></tr>
	  					<tr><td>
	  						<table> <tr><td><div>Type:</div></td><td>
	  						<div class="modifierType" buttons="no" editable-select="card.story.modifier_type"
								e-ng-options="level.value as level.text for level in modifierTypes" onaftersave="updateStory(card.story)"> 
								{{getModifierTypeText(card.story.modifier_type) || 'undefined'}} 
								</td></tr></table>	
	  					</td></tr>
  					</table>	

					</div>

					<!-- --> <hr/> <!-- -->	

					<!-- ======== -->	
					<!-- Redirect -->
					<!-- ======== -->	
					<input class="storyRedirect" type="checkbox" ng-model="card.story.redirect" ng-change="updateStory(card.story)">Redirect</input>

					<table ng-show="card.story.redirect"> <tr><td>
						<div class="redirectSeconds" editable-text="card.story.redirect_seconds" onaftersave="updateStory(card.story)"> 
							Redirect after {{card.story.redirect_seconds || 'undefined'}} seconds to
						</div> </td><td>
						<div class="storyOptionNext" buttons="no" editable-select="card.story.redirect_to"
							e-ng-options="c.story._id as c.story.preview for c in cards" onaftersave="updateStory(card.story)"> 
							{{getStoryPreviewById(card.story.redirect_to) || 'Select outcome'}} 
						</div> </td></tr>
					</table>		

					<!-- --> <hr/> <!-- -->	

					<!-- =========== -->	
					<!-- Exhaustable -->
					<!-- =========== -->	
					<input class="storyExhaustable" type="checkbox" ng-model="card.story.exhaustable" ng-change="updateStory(card.story)">Exhaustable</input>

					<div ng-show="card.story.exhaustable">
						<div class="exhaustingOptions">
							<div>Which options, when used up, cause new option to appear:</div>
							<table>
								<tr ng-repeat="option in card.story.opts"><td>
									<input class="exhaustingOption" type="checkbox" ng-model="option.exhausts_story" 
										ng-change="updateStory(card.story)">{{option.text}}</input>
								</td></tr>
							</table>
						</div> 
						<div>New option:</div>
						<table ng-show="card.story.exhaustable"> <tr><td>						
							<div class="exhaustableNewOption" editable-text="card.story.exhaustable_opt_text" onaftersave="updateStory(card.story)"> 
								{{card.story.exhaustable_opt_text || 'New option text'}} 
							</div> </td><td>
							<div class="storyOptionNext" buttons="no" editable-select="card.story.exhaustable_opt_next"
								e-ng-options="c.story._id as c.story.preview for c in cards" onaftersave="updateStory(card.story)"> 
								{{getStoryPreviewById(card.story.exhaustable_opt_next) || 'Select outcome'}} 
							</div> </td></tr>
						</table>	
					</div>

					<!-- --> <hr/> <!-- -->	

					<!-- ========== -->	
					<!-- Risk level -->
					<!-- ========== -->	
					<table> <tr><td>
						<div>Risk level: </div>	</td><td>
						<div class="riskLevel" buttons="no" editable-select="card.story.risk_level"
							e-ng-options="level.value as level.text for level in riskLevels" onaftersave="updateStory(card.story)"> 
							{{getRiskLevelText(card.story.risk_level) || 'undefined'}} 
						</div> </td></tr>
					</table>	


					<!-- <hr/> -->	
	
					<!-- ================ -->	
					<!-- Background image -->
					<!-- ================ -->	
					<!--
					<table> <tr><td>
						<div>Background image: </div>	</td><td>
						<div buttons="no" editable-select="card.story.bg_img"
							e-ng-options="img as img for img in bgImages" onaftersave="updateStory(card.story)"> 
							{{card.story.bg_img || '-- none --'}} 
						</div> </td></tr>
						<tr><td>
							<img class="imgBackground" ng-show="card.story.bg_img!=''" ng-src="{{card.story.bg_img}}"/>
						</td></tr>
					</table>	
			    -->

				</div>
			</div>

		  <!-- New story -->	
			<div class ="storyCard"> <button ng-click="createStory()"> New Story </button> </div>

			<!-- Pagination controls -->	
		  <pagination direction-links="false" boundary-links="true" total-items="cards.length" items-per-page="numPerPage" ng-model="currentPage"></pagination>

		</div>

	</div>
</body>
</html>
