<!doctype html>

<html ng-app="dashboard">
<head>
	<title>Admin Dashboard</title>

  <!-- Styles -->
	<link href="lib/angular-xeditable-0.1.8/css/xeditable.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
 	<link rel="stylesheet" type="text/css" href="./css/dashboard.css" />

  <!-- Libs: jquery, angular, bootstrap and x-editable -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.min.js"></script>
	<script src="lib/angular-xeditable-0.1.8/js/xeditable.js"></script>

  <!-- App: controler and service -->
	<script src="js/dashboardApp.js"></script>
	<script src="js/dashboardController.js"></script>
	<script src="../services/dataAccess.js"></script>

</head>

<body ng-controller="dashboardController">
	<div class="container">

		<div id="top">
			<div id="title">Admin dashboard</div>
			<div id="top-controls">
				<button ng-click="expandAll(true)">expand all</button>
				<button ng-click="expandAll(false)">collapse all</button>
			</div>
		</div>

		<div id="stories">
			<div class ="storyCard" ng-repeat="story in filteredStories">

				<!-- ============== -->	
				<!-- COLLAPSED CARD -->				
				<!-- ============== -->	
				<div class="storyPreview" ng-show="!story.isExpanded" ng-click="story.isExpanded=true"> 
					<!--<pre>{{story.number}}. {{story.text}}</pre>-->	
					<!--{{getPreviewById(story._id)}}-->
					{{getPreviewById(story._id)}}
				</div>

				<!-- ============= -->	
				<!-- EXPANDED CARD -->		
				<!-- ============= -->	
				<div class="storyContent" ng-show="story.isExpanded">	
					<div class="storyBarTop" ng-click="story.isExpanded=false">
						<button class="buttonDeleteStory" ng-click="deleteStory(story)" title="Delete Story"> x </button>
					</div>

					<!-- ========== -->	
					<!-- Story Text -->
					<!-- ========== -->	
					<div class="storyText" editable-textarea="story.text" onaftersave="updateStory(story)"> 
						<pre>{{story.number}}. {{story.text || 'Story text'}}</pre>
					</div>

					<!-- --> <hr/> <!-- -->
					
					<!-- ============= -->	
					<!-- Story Options -->
					<!-- ============= -->	
					<table class = "storyOptions">
						<tr ng-repeat="option in story.opts"> 
							<td>
								<button ng-click="deleteOption(story, option)" title="Delete Option"> x </button>
							<td> 
								<div class="storyOption" editable-text="option.text" onaftersave="updateStory(story)"> {{option.text || 'Option text'}} </div>
							</td> 
							<td>
								<div class="storyOptionNext" buttons="no" editable-select="option.next"
									e-ng-options="s._id as s.preview for s in stories" onaftersave="updateStory(story)"> 
									{{getPreviewById(option.next) || 'Select outcome'}} 
								</div>	
							</td>
						</tr>
					</table>

					<button ng-click="createOption(story)"> New Option </button>

					<!-- --> <hr/> <!-- -->	

					<!-- ======== -->	
					<!-- Modifier -->
					<!-- ======== -->	
					<input class="storyModifier" type="checkbox" ng-model="story.modifier" ng-change="updateStory(story)">Modifier</input>

					<div ng-show="story.modifier"> 
						<div class="modifierText" editable-text="story.modifier_text" onaftersave="updateStory(story)"> 
							{{story.modifier_text || 'Modifier text'}} 
						</div>
						<div class="modifierDesc" editable-textarea="story.modifier_desc" onaftersave="updateStory(story)"> 
							<pre>{{story.modifier_desc || 'Modifier description'}}</pre>
						</div>					
				  	<table> <tr><td>
				  		<div>Modifier image: </div>	</td><td>
				  		<div buttons="no" editable-select="story.modifier_img"
				  			e-ng-options="img as img for img in modifierImages" onaftersave="updateStory(story)"> 
			  				{{story.modifier_img || '-- none --'}} 
		  				</div> </td></tr>
	  					<tr><td>
	  						<img class="imgModifier" ng-show="story.modifier_img!=''" ng-src="../img/modifiers/{{story.modifier_img}}"/>
	  					</td></tr>
  					</table>	

					</div>

					<!-- --> <hr/> <!-- -->	

					<!-- ======== -->	
					<!-- Redirect -->
					<!-- ======== -->	
					<input class="storyRedirect" type="checkbox" ng-model="story.redirect" ng-change="updateStory(story)">Redirect</input>

					<table ng-show="story.redirect"> <tr><td>
						<div class="redirectSeconds" editable-text="story.redirect_seconds" onaftersave="updateStory(story)"> 
							Redirect after {{story.redirect_seconds || 'undefined'}} seconds to
						</div> </td><td>
						<div class="storyOptionNext" buttons="no" editable-select="story.redirect_to"
							e-ng-options="s._id as s.preview for s in stories" onaftersave="updateStory(story)"> 
							{{getPreviewById(story.redirect_to) || 'Select outcome'}} 
						</div> </td></tr>
					</table>		

					<!-- --> <hr/> <!-- -->	

					<!-- =========== -->	
					<!-- Exhaustable -->
					<!-- =========== -->	
					<input class="storyExhaustable" type="checkbox" ng-model="story.exhaustable" ng-change="updateStory(story)">Exhaustable</input>

					<table ng-show="story.exhaustable"> <tr><td>
						<div class="exhaustableNewOption" editable-text="story.exhaustable_opt_text" onaftersave="updateStory(story)"> 
							{{story.exhaustable_opt_text || 'New option text'}} 
						</div> </td><td>
						<div class="storyOptionNext" buttons="no" editable-select="story.exhaustable_opt_next"
							e-ng-options="s._id as s.preview for s in stories" onaftersave="updateStory(story)"> 
							{{getPreviewById(story.exhaustable_opt_next) || 'Select outcome'}} 
						</div> </td></tr>
					</table>	

					<!-- --> <hr/> <!-- -->	

					<!-- ========== -->	
					<!-- Risk level -->
					<!-- ========== -->	
					<table> <tr><td>
						<div>Risk level: </div>	</td><td>
						<div class="riskLevel" buttons="no" editable-select="story.risk_level"
							e-ng-options="level.value as level.text for level in riskLevels" onaftersave="updateStory(story)"> 
							{{getRiskLevel(story.risk_level) || 'undefined'}} 
						</div> </td></tr>
					</table>	

					<!-- --> <hr/> <!-- -->	
	
					<!-- ================ -->	
					<!-- Background image -->
					<!-- ================ -->	
					<table> <tr><td>
						<div>Background image: </div>	</td><td>
						<div buttons="no" editable-select="story.bg_img"
							e-ng-options="img as img for img in bgImages" onaftersave="updateStory(story)"> 
							{{story.bg_img || '-- none --'}} 
						</div> </td></tr>
						<tr><td><img class="imgBackground" ng-show="story.bg_img!=''" ng-src="../img/backgrounds/{{story.bg_img}}"/></td></tr>
					</table>	
			    
				</div>
			</div>

		  <!-- New story -->	
			<div class ="storyCard"> <button ng-click="createStory()"> New Story </button> </div>

			<!-- Pagination controls -->	
		  <pagination direction-links="false" boundary-links="true" total-items="stories.length" items-per-page="numPerPage" ng-model="currentPage"></pagination>

		</div>

	</div>
</body>
</html>
