body {
  background-image: url("../.././img/background.jpg");
  background-size:  cover;
  background-repeat:no-repeat;
  background-position:top;
  background-color: #475478;
}

.frame {
  background-image: url("../.././img/picture-frame.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
	margin-left:auto;
	margin-right:auto;
	width: 800px;
  height: 700px;
}

.container {
  padding-top: 150px;
  margin: 0 130px;
}

#story {
	color: white;
}

ul {
	list-style-type: none;
}

li {
  color: white;
  font-weight: bold;
	cursor:pointer;
}